@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

body {
  font-family: 'Kumbh Sans';
  color: hsl(219, 9%, 45%);
  font-weight: 400;
  font-size: 16px;
}

.outermostContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.innerContainer {
  width: 70vw;
}

.navBar {
  display: flex;
  align-items: stretch;
  height: 65px;
  margin-top: 5vh;
  margin-bottom: 1rem;
  border-bottom: 2px solid hsl(223, 64%, 98%)
}

/* every direct child is a 'cell' that centers its content */
.navBar > * {
  display: flex;
  align-items: center;      /* center content vertically */
  height: 100%;             /* span full bar height */
  box-sizing: border-box;
  padding-bottom: 10px;     /* the visual gap under the text */
}

#brandLogo {
  transform: translateY(-2px);
  margin-right: 3vw;
}

.navBarItem {
  margin-right: 2vw;
  border-bottom: 2px solid transparent;
}

.navBarItem:hover {
  color: hsl(220, 13%, 13%);
  cursor: pointer;
  border-bottom: 2px solid hsl(26, 100%, 55%);
}

.cart {
  cursor: pointer;
}

.cartContainer {
  margin-left: auto;
}

.cart:hover {
  color: hsl(220, 13%, 13%);
}

.avatar {
  max-width: 40px;
  margin-left: 2vw;
  border-radius: 50%;
  border: 2px solid transparent;
}

.avatar:hover {
  border: 2px solid hsl(26, 100%, 55%);
}

.productContainer {
  display: flex;
  justify-content: center;
  margin-top: 8vh;
}

.productGalleryContainer, .productDescriptionContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageMain {
  width: 80%;
  max-width: 400px;
  border-radius: 10px;
}

.thumbnailContainer {
  margin-top: 5vh;
  display: flex;
  justify-content: space-between;
  width: 75%;
}

.thumbnail {
  max-width: 70px;
  border-radius: 10px;
}