.task {
  border: 1px solid black;
  border-radius: 5px;
  max-width: 500px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
}

.deleteButton {
  margin-top: 10px;
}

.addButton {
  margin-left: 10px;
}

.imageContainer {
  max-height: 150px;
}

.image {
  max-height: 150px;
}